    <form action="{% url 'blog:create_post' %}" method="post">
    {% csrf_token %}
   {% if user.is_authenticated %}
    <div class="row">
        <h3>Create a new post</h3>
        <div class="mt-2">
            {{ form.title }}
        </div>
        <div class="mt-2">
            {{ form.body }}
        </div>
        <div class="mt-2">
            {{ form.tags }}
        </div>
        <div class="mt-2">
            {{ form.status }}
            <input type="submit" class="btn btn-primary mb-3" value="Add comment">
        </div>
    </div>
    {% else %}
        <h3>Firstly you need to <a href="{% url 'login' %}">log in</a></h3>
    {% endif %}
</form>